[Unit]
Description=Cyberdeck Nexus 5 ADB reverse link
Wants=cyberdeck-vnc.service
After=cyberdeck-vnc.service systemd-udevd.service

[Service]
Type=simple
User=kali
Group=kali
SupplementaryGroups=plugdev
Environment=HOME=/home/kali
WorkingDirectory=/home/kali
ExecStart=/usr/local/bin/cyberdeck-adb-link
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
