<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyberdeck.launcher"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="23" />

    <!-- Required even for a loopback socket: the link probe connects to the adb
         reverse tunnel on 127.0.0.1:5900. Without this, connect() throws a
         SecurityException and the status reads DISCONNECTED forever. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:label="Cyberdeck"
        android:allowBackup="false"
        android:theme="@android:style/Theme.Material.NoActionBar.Fullscreen">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="user"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
